
#include "windows.h"
#include "userw.h"
#include "wininfox.h"

#define PBSTYLE BS_PUSHBUTTON
#define DBFONT "Helv"
#define DBFHGT 8
#define STS_KOMPAT STS_NOFRAMES | STS_WINDOWBK | STS_CAPTIONBORDER
#define UEBHI 9

1       DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 200, 104
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x0180L
FONT DBFHGT,DBFONT
BEGIN
   CONTROL "", ID_ABOUTTEXT, "static", SS_CENTER | WS_CHILD, 8, 8, 190,72
   ICON     ICON1               -1,  14,  10,  0, 0
   ICON     ICON1               -1,  170, 10,  0, 0
   CONTROL "Ok", IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 75, 80, 50, 14
END

